.heading {
  text-align: center;
  margin-top: 3rem;
}
.offices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: 3rem;
}
.office {
  border: 1px solid black;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.officeDetail ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 2;
}
.office:hover h4{
  color: white;
}
.office:hover {
  background-color: #293a40;
  color: white;
}
@media (max-width: 992px) {
  .offices {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .offices {
    grid-template-columns: repeat(1, 1fr);
  }
}