.wrap {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: .3s ease-in;
}
.productWrap {
  grid-row-gap: 1rem;
  background-color: white;
  width: 100vw;
  max-width: 300px;
  padding: 1rem;
  overflow-y: auto;
  height: 100vh;
}
.icon {
  background-color: white;
  padding: .5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  z-index: 9;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #219653;
  cursor: pointer;
}
.cardWrap {
  position: relative;
  margin-bottom: 1rem;
}