.wrapper {
  background-color: #293a40;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: white;
  padding-left: .5rem;
  padding-right: .5rem;
}
.title a,
.title span {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  font-family: 'Zilla Slab', serif;
  color: white;
}

.description {
  line-height: 1.5;
  max-width: 500px;
  font-size: 1rem;
  color: white;
}
.grid {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: 3rem;
}
.social {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.social li {
  padding-left: .5rem;
  padding-right: .5rem;
}
.social a {
  color: white;
}
.social a:hover {
  color: #0070f3;
}
.copyright {
  border-top: 1px solid white;
  padding-top: 1rem;
  font-size: .75rem;
}
@media (max-width: 992px) {
  .grid {
    display: block;
    margin-bottom: 3rem;
  }
}
@media (max-width: 992px) {
  .social {
    justify-content: center;
  }
}