html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-stretch: 100%;
  color: #293a40;
  background-color: #f2f2f2;
}
/* font */
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Zilla Slab'), url(/fonts/ZillaSlabRegular.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Quicksand'), url(/fonts/Quicksand-Regular.ttf) format('truetype');
}
h1, h2, h3, h4 {
  font-family: 'Zilla Slab', serif;
  color: black;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.base-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.relative {
  position: relative;
}
.show {
  transform: translateX(0) !important;
}