.title a,
.title span {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-family: 'Zilla Slab', serif;
  color: black;
}

.description {
  line-height: 1.5;
  max-width: 700px;
  font-size: 1rem;
}