.wrap {
  background-color: white;
}
.nav {
  padding: 10px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav ul li a {
  margin: 5px 15px;
}
@media (max-width: 600px) {
  .nav {
    display: block;
    text-align: center;
  }
}