.wrap {
  position: fixed;
  z-index: 10;
  top: 2rem;
  right: 0;
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  font-size: .9rem;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
}
.hide {
  -webkit-animation: hide 1.5s ease;
}
@-webkit-keyframes hide {
  10% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
  }
}
