.back {
  color: #0070f3;
  display: block;
  width: 100%;
  text-align: right;
}
.tag {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.tag li {
  background-color: white;
  border-radius: 40px;
  padding: .5rem;
  font-size: .8rem;
  margin-right: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
}
.tag li:hover {
  border-color: black;
}