.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: 3rem;
}

.cardWrap {
  position: relative;
}

.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #afafaf;
  border-radius: 10px;
  transition: all 0.15s ease, border-color 0.15s ease;
  position: relative;
  display: block;
}

.grid .card {
  height: 100%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  background-color: white;
  transform: scale(1.01);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-family: 'Zilla Slab', serif;
  color: black;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}
.tag {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.tag li {
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}