.wrap {
  width: 100%;
  max-width: 700px;
  margin: 4rem auto
}
.inputWrap {
  position: relative;
}
.input {
  width: 100%;
  border: 1px solid #293a40;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 1rem;
  text-align: center;
}
